<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>

<!-- 
<h1 appCustom>Smit Chhatrola</h1> -->
<h3>Admin</h3>
<a routerLink = 'admin/login'>login</a><br>
<a routerLink = 'admin/list'>list</a><br>
<br>

<h3>User</h3>
<a routerLink = 'user/login'>login</a><br>
<a routerLink = 'user/list'>list</a><br>
<br>
<form #login="ngForm" (ngSubmit)="on(login.value)" [formGroup]="loginForm">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" ngModel class="form-control" formControlName="email" name="Email" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" ngModel class="form-control" formControlName="password" name="pwd" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form> 